<!DOCTYPE html>
<html>
    <head>
        <title>Projet 2SN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.flip.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>
        <header>
            <div id="container">
                <div id="top">
                    ok
                </div>
            </div>
        </header>
        <nav role="navigation" class="clearfix">
            <div class="menu-main">
                <ul class="topbar-ul">
                    <li class="topbar">Jawed Zidane</li>
                    <li class="topbar">Profil</li>
                    <li class="topbar search-bar"><!--<input type="text" width="120">--></li>
                    <li class="topbar">Parametre</li>
                    <li class="topbar">Deconnexion</li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <!-- NAV right -->
            <div id="container">
                <div id="container-nav">
                    <div id="home" class="guest shadowed" >
                        <div class="inner-boundary">
                            <div class="inner-border">
                                <div class="backg-nav"> <!--shadowed-->
                                    <ul class="nav">
                                        <li class="quick-nav"><a href="#"><img src="images/home.png" title="Acceuil" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/user.png" title="Profile" width="24" height="24"></a></li> 
                                        <li class="quick-nav"><a href="#"><img src="images/friends.png" title="Amis" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/photo.png" title="Photos" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/message.png" title="Messages" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/notif.png" title="Notifications" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/pro.png" title="Professionnel" width="24" height="24"></a></li>
                                        <li class="quick-nav"><a href="#"><img src="images/params.png" title="Parametre" width="24" height="24"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="home" class="guest shadowed">
                    <div class="inner-boundary">
                        <div class="inner-border">
                            <div class="backg"> <!--shadowed-->
                                <div class="profile-top">
                                    <div class="profile-left borderitem">
                                        <div class="ul-friends-left">
                                            <div class="box-friendsl">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/albane.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right">
                                                    <span class="name-friends">Albane Pacquentin</span><br/>
                                                    <span class="mutual-friends">36 mutual friends</span>
                                                </div>
                                            </div>
                                            <div class="box-friendsl">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/moni.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right"> 
                                                    <span class="name-friends">Mo Ni</span><br/>
                                                    <span class="mutual-friends">17 mutual friends</span>
                                                </div>
                                            </div>
                                            <div class="box-friendsl">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/jc.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right"> 
                                                    <span class="name-friends">Jc Barouillet</span><br/>
                                                    <span class="mutual-friends">38 mutual friends</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ul-friends-right">
                                            <div class="box-friendsr">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/anne.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right">
                                                    <span class="name-friends">Anne Yaffa</span><br/>
                                                    <span class="mutual-friends">12 mutual friends</span>
                                                </div>
                                            </div>
                                            <div class="box-friendsr">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/marti.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right">
                                                    <span class="name-friends">Martina Francescatti</span><br/>
                                                    <span class="mutual-friends">28 mutual friends</span>
                                                </div>
                                            </div>
                                            <div class="box-friendsr">
                                                <div class="photo-profil-mini left"><img class="thumbnail-mini" src="images/photo/mini/annec.jpg" width="20" height="20" alt="jaja"></div>
                                                <div class="friends-infos right"> 
                                                    <span class="name-friends">Anne-cécile Bar</span><br/>
                                                    <span class="mutual-friends">44 mutual friends</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-right">
                                        <div class="infos">
                                            <div class="name">Jawad Zidane</div>
                                            <div class="info-items"><img src="images/work2.png" width="16" height="16"><span class="info-items-pos">Goes to <b>ETNA</b></span></div>
                                            <div class="info-items"><img src="images/world2.png" width="16" height="16"><span class="info-items-pos">Knows English, Arabic, French </span></div>
                                            <div class="info-items"><img src="images/homy2.png" width="16" height="16"><span class="info-items-pos">From Sydney, Australia </span></div>
                                            <div class="info-items"><img src="images/calendar2.png" width="16" height="16"><span class="info-items-pos">Born on November 15, 1987 </span></div>
                                            <div class="info-items"><img src="images/comment.png" width="16" height="16"><span class="info-items-pos">Status</span>
                                                <div class="wrap">
                                                    <input type="text" class="textarea-form" onfocus="" value="&nbsp;What's your mind ?">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="photo-profil">
                                            <img class="thumbnail" src="images/jaja.jpg" width="150" height="172" alt="jaja">
                                        </div>  
                                    </div>
                                </div>
                                <div class="profile-bot">
                                    qsd
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home -->   
            <div id="container">
                <div id="pro" class="guest shadowed">
                    <div class="inner-boundary">
                        <div class="inner-border">
                            <div class="backg"> <!--shadowed-->
                                <div class="sponsor" title="Click to flip">
                                    <div class="sponsorFlip">
                                        Pro
                                    </div>
                                    <div class="sponsorData">
                                        <div class="sponsorDescription">
                                            Perso
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="container">
                <div id="top">
                    ok
                </div>
        </footer>
    </body>
</html>
